// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  display: block;
  margin: 25px;
  font-family: "arial", "verdana", "times new roman", sans-serif;
  font-size: 27px;
}

p, ul {
  margin: 30px;
  font-family: "arial", "verdana", "times new roman", sans-serif;
  font-size: 13px;
  line-height: 30px;
  padding-bottom: 20px;
}